<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    
    <title>Javascript Quiz - Result Page</title>
  </head>
  <body>
        
       <div class = "logout">
             <h5>Welcome, <%= userName %></h5> 
             <form action="/quit" method="post">
             <button class="btn btn-danger">Logout</button>
            </form>
       </div>

     <h3 class="text-center  score-result">
        Congratulations <%= userName %>, <br><br>
        Your Score: <%= score %> / <%= GeneralScience.length %> 
    </h3>
    <br>
    <br>
    <h2 class="text-center status-result"> 
        <% if(score <= 2) { %> Poor Performance
        <% } %>
        <% if(score >= 3) { %> Good Performance
        <% } %>
    </h2>

    <footer> Copyright ©  Raaj Kumar 2021 </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     
  </body>
</html>