* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.index-body {
    background-color: rgb(88, 90, 90)
}
.index-form {
    width: 70vh;
    background-color: rgba(24, 228, 92, 0.836);
    margin-top: 30vh !important;
    margin: auto;
    display: block;
    padding: 4px 30px 4px 30px;

}

.index-form form {
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-label {
    font-family:cursive;
    font-weight: bold;
    font-size: 20px;
}

.submit-button {
    margin: auto;
    display: block;
}

.card {
    width: 90vh;
    background-color: rgba(17, 159, 202, 0.836);
    margin-top:20vh !important;
    margin: auto;
    display: block;
    padding: 4px 30px 4px 30px;
}

.logout {
    position:absolute;
    top: 3px;
    right: 10px;
}
.logout  button {
    float: right;
    border-radius: 20px;
}

.card-options {
    text-align: left;
    list-style-type: upper-alpha;
}
.card-header span {
    float: right;
    font-weight: bold;
}
.score-result {
    margin-top: 30vh;
}
footer {
    margin-top:  100px;
    font-weight: bold;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
